*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navigasi{
    height: 100%;
    width: 100%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 30px;
}

nav img{
    width: 400px;
    display: inline;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 8px;
}

nav ul li a{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    border-bottom: 1px solid #9f3a3a;
}

div nav ul li a:hover{
    color: #9f3a3a;
    transition: 0.4s;
    border-width: 3px;
}

.logokbmhd_dikonten img{
    width: 525px;
    position: absolute;
    bottom: 0;
    top: 230px;
    right: 220px;
    border-radius: 200px
}

.Home{
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

.isi_dihome{
    font-style: italic;
    margin: 140px;
    margin-top: 120px;
    text-shadow: 1px 1px 1px #000000;
}

.isi_dihome h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 20px;
    padding-left: 15px;
}

.isi_dihome h3{
    letter-spacing: 1px;
    font-size: 30px;
    text-align: left;
    line-height: 50px;
    width: 900px;
    margin: 20px;
    margin-top: 0;

}

.btn_dihome{
    background: #9f3a3a;
    color: rgba(247, 247, 247, 0.99);
    border: 1px solid #9f3a3a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    padding: 18px 21px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #9f3a3a;
    position: relative;
    left: 20px;
    top: 10px;
}

.btn_dihome:hover{
    background: rgb(255, 255, 255);
    color: #000000;
    text-shadow: none;
    box-shadow: 1px 2px 1px 1px  #000000;
    transition: 0.5s;
    padding: 18px 23px;
    border: 1px solid #ffffff;
}

.Home_v2{
    width: 100%;
    padding: 50px 0;
    background-color: #9f3a3a;
    padding-bottom: 100px
}

.judul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: normal;
    text-align: center;
}

.judul h1{
    font-size: 30px;
    font-weight: normal;
    opacity: 0.7;
    padding-bottom: 10px;
    padding-top: 10px;
}

.judul h3{
    font-size: 50px;
    font-weight: normal;
    padding-top: 10px;
    line-height: 35px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    flex-wrap: wrap;
    padding-top: 40px;
}

.divisi{
    height: 330px;
    width: 250px;
    padding: 50px 30px;
    background: white;
    margin: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
}

.divisi img{
    width: 100px;
}

.divisi h3{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    padding-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.divisi h5{
    font-weight: normal;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.isibox{
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}

.divisi:hover{
    background-color: #9f3a3a;
    color: white;
    border: 1px solid #9f3a3a;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
    transition: 0.5s;
    padding-top: 40px;
    width: 252px;
}

.Home_v3{
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
    padding-bottom: 100px
}

.judul_dihome3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
}

.judul_dihome3 h1{
    font-size: 50px;
    font-weight: normal;
    padding-top: 10px;
    line-height: 35px;
    margin-top: 70px;
}

.judul_dihome3 h3{
    font-size: 70px;
    font-weight: normal;
    padding-top: 30px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #9f3a3a;
    margin-bottom: 70px;
}

.box_dihome3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    flex-wrap: wrap;    
}

.isibox_dihome3{
    height: 400px;
    width: 800px;
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 3px 3px 5px #9f3a3a;
    margin: 30px;
}

.isibox_dihome3 img{
    width: 800px;
}

#foto2{
    width: 79p0x;
    height: 410px;
}

#foto3{
    width: 900px;
    height: 400px;
}

.isibox_dihome3:hover{
    box-shadow: 10px 10px 20px #9f3a3a;
    transition: 0.3s;
}
